@page
@model Frontend.Pages.ItemPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShopItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopItem.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Image)
        </dt>
        <dd class="col-sm-10">
            <img class="img-thumbnail" src="@Model.ShopItem.Image" width="100" height="100" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopItem.Category.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ShopItem.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Items">Back to List</a>
    </form>
</div>
