@page
@model Frontend.Pages.ItemPages.ItemsModel

@{
    ViewData["Title"] = "Items";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopItem[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopItem[0].Category)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShopItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img class="img-thumbnail" src="@item.Image" width="100" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (item.UserId.Equals(Model.LoggedUserId))
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Cart" asp-page-handler="Buy" asp-route-id="@item.Id">Buy</a>
            </td>
        </tr>
}
    </tbody>
</table>
